<div class="row center">
	<h1>Come contattarci?</h1>
	<div class="col s6">	
		<h3>E-mail</h3>						
		<p>novicarsnc@gmail.com</p>
	</div>
	<div class="col s6">
		<h3>Telefono</h3>
		<p>0815301683</p>
	</div>	
	<div class="col s12">
		<h2>Oppure</h2>
		<a class="btn #1a237e indigo darken-4" href="luogo">Vieni a trovarci</a>
	</div>
</div>



