<footer class="page-footer #546e7a blue-grey darken-1">
 <div class="footer-copyright">
    <div class="container left">
      ©lnovizio
      <a class="grey-text text-lighten-4 right" href="#1">Altro da novicar</a>
    </div>
  </div>
</footer>