<header class="navbar-fixed">	
	<nav class= "#1a237e indigo darken-4">
		<div class="row nav-wrapper">
			<div class="col s1 center"><%=link_to"Novicar snc", root_path, class: "brand-logo"%></div>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
			<%=link_to "Scopri di più", about_path %>
			</ul>
		</div>
	</nav>
</header>